<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <meta
      name="description"
      content="bicycle app"
    />
    
    <meta name="author" content="saranonearth" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/flexslider.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/e19e904283.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <title>app for bicycle store</title>
  </head>
</html>
