<%- include('./Includes/head.ejs') %>

<body>
  <!-- from obscura ? ("wanna "SHOP" hoodie? Shop one from bhaukal.store"):("You got nothing to do about this") -->
  <div class="fh5co-loader"></div>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="container">
        <div class="top-menu">
          <div class="row">
            <div class="col-sm-2">
              
            </div>
            <div class="col-sm-10 text-right menu-1">
              <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/exclusiveproduct">Shop</a></li>
                <li><a href="/checkorder">Track Order</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="fh5co-intro bt-m">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 col-md-pull-2">
            <h2>About Us</h2>
            <div class="contact-div">
              <p>
                 <strong>
                <a
                  href="https://www.instagram.com/bhaukal_fashion/"
                  target="_blank"
                  >instagram</a
                >.
              </p>
            </strong>

            
              <div class="img-gallery">
                <div class="img-holder">
                  <img class="dimg" src="/img/d2.jpg" alt="mountain" />
                </div>
                <div class="img-holder">
                  <img class="dimg" src="/img/d3.jpg" alt="mountain2" />
                </div>
                <div class="img-holder">
                    <img class="dimg" src="/img/d1.jpg" alt="Mountain3" />
                  </div>       
                <div class="img-holder">
                  <img class="dimg" src="/img/d5.jpg" alt="mountain4" />
                </div>
             
              
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./Includes/bottom.ejs') %>
    </div>
  </div>
</body>
