<%- include('./Includes/head.ejs') %>

<body>
  <div class="fh5co-loader"></div>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="container">
        <div class="top-menu">
          <div class="row">
            <div class="col-sm-2">
              
            </div>
            <div class="col-sm-10 text-right menu-1">
              <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/exclusiveproduct">Shop</a></li>
                <li><a href="/checkorder">Track Order</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="fh5co-intro bt-m">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 col-md-pull-2">
            <h2>Track your order.</h2>
            <div class="track-container">
              <form action="/trackorder" method="POST">
                <div class="form-item">
                  <label for="orderid">Order Id</label> <br />
                  <input type="text" name="orderid" required />
                </div>
                <br />
                <div
                  class="g-recaptcha"
                  data-theme="dark"
                  data-sitekey="<%= sitekey %>"
                ></div>
                <button class="checkout " type="submit">Track</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <%- include('./Includes/bottom.ejs') %>
    </div>
  </div>
  <script src="https://www.google.com/recaptcha/api.js"></script>
</body>
