<%- include('./Includes/head.ejs') %>

<body> 
  <div class="fh5co-loader"></div>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="container">
        <div class="top-menu">
          <div class="row">
            <div class="col-sm-2">
              
            </div>
            <div class="col-sm-10 text-right menu-1">
              <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/exclusiveproduct">Shop</a></li>
                <li><a href="/checkorder">Track Order</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="product">
        <div class="holder">
          <div class="img">
            <div class="img">
              <img
                class="product-img"
                id="pimg"
                src="/img/img1.jpg"
                alt="productimg"
              />
              <div class="image-slider">
                <div>
                  <img class="im-1" id="pi1" src="/img/img1.jpg" alt="img" />
                </div>
                <div>
                  <img class="im-1" id="pi2" src="/img/back2.jpg" alt="img" />
                </div>
              </div>
            </div>

            <div class="slider"></div>
          </div>
          <div class="content">
            <div id="fh5co-intro im">
              <div class="row animate-box">
                
              </div>
            </div>
            <div class="order-details">
              <h3>Rs.550</h3>
              <h2 class="price">Pay Rs.250 Now</h2>
              <span> and the remaining at the time of delivery.</span>

              <form action="/checkout" method="GET">
                <div class="button">
                  <button class="buyButton" type="submit">Buy Now</button>
                </div>
              </form>
            </div>
            <div class="details">
             
            
      
            </div>
          </div>
        </div>
      </div>
    </div>
<input type="hidden"  value="+[-[<<[+[--->]-[<<<]]]>>>-]>-.---.>..>.<<<<-.<+.>>>>>.>.<<.<-.">
    <%- include('./Includes/bottom.ejs') %>
  </div>
</body>
